/**************************************
    UTILITY CLASSES
***************************************/

:root {
    --dark-blue: #2C3E50;
    --light-green: #1ABC9C;
    --blue: #3A546D;
}

img {
    max-width: 100%;
}

.ms_px {
    padding: 0 5.125rem;
}

.dash_container {
    font-size: 2rem;
}

.dash::before {
    content: '';
    position: absolute;
    border: 0.1rem solid currentColor;
    width: 10vw;
    max-width: 120px;
    top: 50%;
    left: 50%;
    transform: translatex(1.5rem);
}

.dash::after {
    content: '';
    position: absolute;
    border: 0.1rem solid currentColor;
    width: 10vw;
    max-width: 120px;
    top: 50%;
    right: 50%;
    transform: translatex(-1.5rem);
}

/**************************************
    HEADER
***************************************/

.main-header {
    background-color: var(--dark-blue);
}

/**************************************
    HEADER - NAV
***************************************/

.main-header .navbar-nav::before {
    content: '';
    border-top: 1px solid grey;
    margin: 1rem 0;
}

/**************************************
    MAIN
***************************************/

section:nth-child(odd) {
    background-color: var(--light-green);
}

/**************************************
    HERO
***************************************/

.hero .hero-avatar {
    width: 250px;
}

.hero li:not(:first-child):before {
    content: '-';
    position: absolute;
    left: -1rem;
}

/**************************************
    PORTFOLIO
***************************************/

.portfolio {
    padding-top: 3.25rem;
    padding-bottom: 2.25rem;
}

.portfolio .ms_card {
    padding-bottom: 1.75rem;
}

.portfolio .ms_card img {
    border-radius: 0.5rem;
}

/**************************************
    ABOUT
***************************************/

.about {
    padding-top: 3rem;
    padding-bottom: 1.75rem;
}

.about .btn-outline-light:hover {
    background-color: #16a286;
}

/**************************************
    FOOTER
***************************************/

/**************************************
    FOOTER - ABOUT
***************************************/

.main-footer .contacts {
    background-color: var(--blue);
}

/**************************************
    FOOTER - COPY
***************************************/

.main-footer .copy {
    background-color: var(--dark-blue);
}

/**************************************
    DEBUG
***************************************/

/* .debug .main-content>*:not([class*="portfolio"]) {
    padding: 10px;
} */

.debug .main-footer>* {
    padding: 10px;
}