/**************************************
    UTILITY CLASSES
***************************************/

:root {
    --dark-blue: #2C3E50;
    --light-green: #1ABC9C;
    --blue: #3A546D;
}

/**************************************
    HEADER
***************************************/

.main-header {
    background-color: var(--dark-blue);
}

/**************************************
    MAIN
***************************************/
section:nth-child(odd) {
    background-color: var(--light-green);
}

/**************************************
    FOOTER
***************************************/

/**************************************
    FOOTER - ABOUT
***************************************/

.main-footer .about {
    background-color: var(--blue);
}

/**************************************
    FOOTER - COPY
***************************************/

.main-footer .copy {
    background-color: var(--dark-blue);
}

/**************************************
    DEBUG
***************************************/

.debug *>* {
    padding: 10px;
}