/**************************************
    UTILITY CLASSES
***************************************/

/* #region utility */
:root {
    --dark-blue: #2C3E50;
    --light-green: #1ABC9C;
    --blue: #3A546D;
}

.bg_green {
    background-color: var(--light-green);
}

img {
    max-width: 100%;
}

.ms_px {
    padding: 0 5.125rem;
}

.dash_container {
    font-size: 2rem;
}

.dash::before,
.dash::after {
    content: '';
    height: 4px;
    width: 10vw;
    background-color: currentColor;
    max-width: 120px;
    display: inline-block;
    vertical-align: middle;
}

input,
textarea {
    border: none;
}

input {
    width: 100%;
}

textarea {
    resize: none;
    width: 100%;
}

input:focus-visible,
textarea:focus-visible {
    outline: none !important;
    background-color: rgb(240, 240, 240);
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
}

/* #endregion */


/**************************************
    HEADER
***************************************/

.main-header {
    background-color: var(--dark-blue);
}

/**************************************
    HEADER - NAV
***************************************/

.main-header .navbar-nav::before {
    content: '';
    border-top: 1px solid grey;
    margin: 1rem 0;
}

/**************************************
    MAIN
***************************************/

section:nth-child(odd) {
    background-color: var(--light-green);
}

/**************************************
    HERO
***************************************/

.hero .hero-avatar {
    width: 250px;
}

.hero li:not(:first-child):before {
    content: '- ';
    display: inline;
}

/**************************************
    PORTFOLIO
***************************************/

.portfolio {
    padding-top: 3.25rem;
    padding-bottom: 2.25rem;
}

.portfolio .ms_card {
    padding-bottom: 1.75rem;
}

.portfolio .ms_card img {
    border-radius: 0.5rem;
}

/**************************************
    ABOUT
***************************************/

.about {
    padding-top: 3rem;
    padding-bottom: 1.75rem;
}

.about .btn-outline-light:hover {
    background-color: #16a286;
}

/**************************************
    CONTACT
***************************************/

.contact {
    padding-top: 5.25rem;
    padding-bottom: 3.5rem;
}

/**************************************
    FOOTER
***************************************/

/**************************************
    FOOTER - ABOUT
***************************************/
/* #region */
.main-footer .contacts {
    background-color: var(--blue);
}

.main-footer .social_icons>* {
    display: inline-block;
    width: 2rem;
    aspect-ratio: 1;
}

.main-footer a {
    color: var(--light-green);
}

/* #endregion */

/**************************************
    FOOTER - COPY
***************************************/

.main-footer .copy {
    background-color: var(--dark-blue);
    font-size: 0.75rem;
}

/**************************************
    DEBUG
***************************************/

/* .debug .main-content>*:not([class*="portfolio"]) {
    padding: 10px;
} */

/* .debug .main-footer>* {
    padding: 10px;
} */